.cm-completionIcon-chord {
  &:after {
    content: '\266A'; // quaver ♪
    // content: '\266E'; // natural ♮ ... not sure if, for example, Em chord is natural
    // content: '\1D160'; // quaver 𝅘𝅥𝅮
  }
}

.cm-completionIcon-chord-sharp {
  &:after {
    content: '\266F'; // sharp ♯
  }
}

.cm-completionIcon-chord-flat {
  &:after {
    content: '\266D'; // flat ♭
  }
}
