<div class="lyrics">
  <div class="heading">add lyrics only or lyrics with chords</div>
  <div class="grid">
    <div class="cell lhs">
      <label for="verse">verse(s)</label>
      <textarea id="verse"></textarea>
    </div>
    <div class="cell rhs-top">
      <label for="chorus">chorus(es)</label>
      <textarea id="chorus"></textarea>
    </div>
    <div class="cell rhs-bottom">
      <label for="bridge">bridge(s)</label>
      <textarea id="bridge"></textarea>
    </div>
  </div>
</div>
