<div class="lyrics">
  <div class="heading">add lyrics only or lyrics with chords</div>
  <div class="grid">
    <div class="cell lhs">
      <label for="verse">verse(s)</label>
      <textarea id="verse" class="thin-scrollbar"></textarea>
    </div>
    <div class="cell rhs-top">
      <label for="chorus">chorus(es)</label>
      <textarea id="chorus" class="thin-scrollbar"></textarea>
    </div>
    <div class="cell rhs-bottom">
      <label for="bridge">bridge(s)</label>
      <textarea id="bridge" class="thin-scrollbar"></textarea>
    </div>
  </div>
</div>
