<div class="lyrics">
  <div class="heading">add lyrics only or lyrics with chords</div>
  <div class="grid">
    <div class="cell lhs">
      <label for="verses">verse(s)</label>
      <textarea id="verses" class="thin-scrollbar"
                [ngModel]="raw.verses" (ngModelChange)="updateSong('verses', $event)"></textarea>
    </div>
    <div class="cell rhs-top">
      <label for="choruses">chorus(es)</label>
      <textarea id="choruses" class="thin-scrollbar"
                [ngModel]="raw.choruses" (ngModelChange)="updateSong('choruses', $event)"></textarea>
    </div>
    <div class="cell rhs-bottom">
      <label for="bridges">bridge(s)</label>
      <textarea id="bridges" class="thin-scrollbar"
                [ngModel]="raw.bridges" (ngModelChange)="updateSong('bridges', $event)"></textarea>
    </div>
  </div>
</div>
