<button (click)="clickMe()">format</button>
<button>flats to sharps</button>
<button>sharps to flats</button>
<div id="editor"></div>

<!--<pre class="thin-scrollbar">-->
<!--<code id="bob" class="language-chord" contenteditable="true"-->
<!--      (input)="onContentEdited($event)">{{ content }}</code>-->
<!--</pre>-->

<!--&lt;!&ndash;<textarea [ngModel]="content" (ngModelChange)="updateContent($event)"></textarea>&ndash;&gt;-->

<!--&lt;!&ndash;<ng-container *ngIf="showContent">&ndash;&gt;-->
<!--&lt;!&ndash;  <pre><code class="language-chord">{{ content }}</code></pre>&ndash;&gt;-->
<!--&lt;!&ndash;</ng-container>&ndash;&gt;-->

<!--<div>{{ content }}</div>-->

<!--<textarea></textarea>-->

<!--xx<div contenteditable="true"></div>xx-->
